@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");

body {
    margin: 0;
    padding: auto;
}

/* canvas {
    width: 100vw;
    height: 100vh;
    display: block;
} */

button {
    width: 200px;
    height: 100px;
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}